.container {
    margin-left: 1em;
}


.example {
    margin-bottom: 1em;
}

.description {
    display: inline-block;
    margin-right: 1em;
    width: 400px;
    vertical-align: middle;
}

.svg {
    display: inline-block;
    vertical-align: middle;
}